.producto1, .producto2, .producto3, .producto4, .producto5, .producto6, .producto7, .producto8{
    display: inline;
	float: left;
	border-radius: 0px 0px 0px 0px;
	margin: 30px 30px 30px 110px;
	text-align: center;
    margin-top: 60px;
    background-color: #FEB5EA;
    font-family: sans-serif;



}

 
title{
    font-family: sans-serif;
    text-align: center;
}

#Logo-tienda{
    width: 495px; 
    height: 59px;
    margin-left: 550px;
    margin-top: 23px;
}