body{
    background-image: url(Imagenes/f7.png);
    background-size:auto;
    margin: 0;
	margin-bottom: 500px;
}
#Logo-tienda{
    width: 395px; 
    height: 59px;
    margin-left: 450px;
    margin-top: 23px;
}